body{
    background: black;
    color: aquamarine;
}
article{
    color: whitesmoke;
    font-size: 1.5em;
}
#resultado{
    background: rgb(53, 41, 41);
    color: rgb(7, 3, 12);
    float: left;
    border: 50%;
}
div > div{
    color: rgb(17, 1, 1);
    float: left;
    font-size: 0.8em;
    margin: 0.5em;
    padding: 0.6em;
    background-color: rgb(110, 102, 102);
    border-radius: 60%;
}
.cargador{
    margin: 1.5em;
    background: wheat;
}