body{
    background: black;
    color: aquamarine;
}
article{
    color: blue;
    font-size: 1.5em;
}
div>div{
    color: red;
    float: left;
    font-size: 0.8em;
    margin: 0.5em;
    padding: 0.6em;
    background-color: rgb(48, 45, 45);
    border-radius: 60%;
}
.cargador{
    margin: 1.5em;
    background: wheat;
}